/* .el-message {
  border-color: transparent;
  background-color: rgba(var(--color-background-4), .6);
}

.el-message__content {
  font-size: 10px;
}

.el-message .el-message-icon--success {
  width: 12px;
  height: 12px;
  color: #F2F2F2;
  border: none;
  border-radius: 50%;
  position: relative;
}

.el-message .el-message-icon--success::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--vt-c-success);
  border: solid 1px #F2F2F2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.el-message--success .el-message__content {
  color: var(--color-background);
  overflow-wrap: unset;
} */

.el-message.el-message--success,
.el-message.el-message--error,
.el-message.el-message--warning {
  width: 327px;
  padding: 6px 24px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 29px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-message.el-message--success .el-message__content,
.el-message.el-message--error .el-message__content,
.el-message.el-message--warning .el-message__content {
  color: #FFFFFF;
  font-size: 10px;
  line-height: 14px;
  white-space: pre-wrap;
}

.el-message.el-message--success .el-message__icon,
.el-message.el-message--error .el-message__icon,
.el-message.el-message--warning .el-message__icon {
  margin-right: 4px;
}

.el-message .el-message-icon--success {
  color: var(--color-text-14) !important;
}

.el-message .el-message-icon--error {
  color: var(--color-text-12) !important;
}

.el-message .el-message-icon--warning {
  color: var(--color-text-13) !important;
}